.basketItem{
    display:flex;
    flex-direction: row;
}

.basketItem__image{
    
    height:200px;
    max-height: 200px;
    object-fit: contain;
    margin-right:10px;
}

.basketItem__info{
    display:flex;
    flex-direction:column;
    height:100px;
    justify-content:space-between;
}

.basketItem__info > button{
    background-color:#f0c14b;
    color:black;
    border: 1px solid; 
    border-color: #a88734 #9c7e31 #846a29;
    margin-top: 10px;
}